nav img {
    height: 60px;
    width: 60px;
}

.main1 {
    margin: 100px auto;
}
.section1 {
    padding-top: 20px;
}

.section9 i:hover {
    transform: scale(1.2);
    transition: 0.7s;
}

.flag {
    background-image: url(br.png);
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
}

.flag1 {
    background-image: url(azerbaijan.png);
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
}

.peler {
    font-size: 16px;
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
}

.logos-slide {
    display: inline-block;
    animation: 8s slide infinite linear;
}

.logos-slide img {
    height: 200px;
    width: 170px;
    margin: 0 30px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to { 
        transform: translateX(-100%);
    }
}

 .footermain {
    background-image: linear-gradient(#1E2125, #DEB604);
}
.slide>img {
    width: 100px;
    height: 100px;
    animation: scroll 6s linear infinite;
  }
  
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }
  
  .slider1 {
    margin-top: 70px;
    background-color: whitesmoke;
    padding: 8em 0;
  }
  
  @keyframes scroll {
    0% {transform: translateX(0);}
    100% {transform: translatex(-1000%)}
  }
  #modalilkbody{
    display: none;
  }

@media(max-width: 600px) {
    .sekil>img {
        width: 90%;
        height: 70%;
    }

    .peler {
        font-size: 14px;
    }

    .main1 {
        margin: 50px 0
    }

    .home {
        padding-top: 75px;
    }

    .footer2 h6 {
        font-size: 8px;
    }

    .flag, .flag1 {
        margin-top: 10px;
    }
}

.slide-container{
    max-width: 2000px;
    width: 100%;
    /* background-color: grey; */
    padding: 40px 0;
}
.slide-content{
    margin: 0 20px;
    /* background-color: red; */
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 40%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #fff;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: #0d43d6;
}
.swiper-navBtn{
    transition: color .3s ease;
}
.swiper-navBtn:hover{
    color: skyblue;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    color: skyblue;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}